{% extends "todo/base.html" %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-8">
            {% for i in list %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{i.name}}</h3>
                    <p class="card-text">{{i.description}}</p>
                    <form action="del/{{i.id}}" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
                        {% csrf_token %}
                        <button value="remove" type="submit" class="btn btn-primary" style="float: right;"><span
                                class="glyphicon glyphicon-trash"></span> &nbsp; remove</button>
                    </form>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <form method="POST" class="form-group">
                {% csrf_token %}
                <label><b>Name:</b></label>
                <p>{{form.name}}</p>
                <label><b>Description:</b></label>
                <p>{{form.description}}</p>
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}